<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="public\css\results.css">
</head>
<body>
  <div class="header">
    <div class="logo">
      <a href="/">Home</a>
    </div>
    <div class="title">
        <h1>Cinema Sounds</h1>
      </div>