<!DOCTYPE html>
<html>

<head>
  <title>Cinema Sounds</title>
  <link rel="stylesheet" type="text/css" href="/css/results.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
</head>

<body>
  <div class="header">
    <div class="logo">
      <a href="/">Home</a>
    </div>
    <div class="title">
      <h1 class="animate__animated animate__jackInTheBox">Cinema Sounds</h1>
    </div>

    {{#if logged_in}}
    <div class="user-actions">
      <span class="profile-name">Users Name</span>
      <a href="/logout" id="logout">Logout</a>
    </div>
    {{else}}
    <div class="user-actions">
      <a href="/login">Login/Signup</a>
    </div>
    {{/if}}
  </div>

  {{{ body }}}

  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}

</body>

</html>