    <div class="search-bar">
      <input type="text" id="movie-search" placeholder="Search...">
      <button id="searchButton">Search</button>
    </div>
  <div class="recent-searches">
  <h2>Most Recent Searches</h2>
  <ul>
    {{#each movies}}
      <li><a href="/api/movie/{{this.id}}">{{this.Title}}</a></li>
    {{/each}}
  </ul>
</div>
  
  <script src="/js/search.js"></script>