</div>  
  <div class="login-form">
    <h2>Login</h2>
    <form action="/login" method="POST">
      <input type="text" name="username" placeholder="Username">
      <input type="password" name="password" placeholder="Password">
      <button type="submit">Login</button>
    </form>
  </div>


  <div class="signup-form">
    <h2>Signup</h2>
    <form action="/signup" method="POST">
      <input type="text" name="username" id="username-signup" placeholder="Username">
      <input type="email" name="email" id="email-signup" placeholder="Email">
      <input type="password" name="password" id="password-signup" placeholder="Password">
      <input type="password" name="confirmPassword" id="confirm-signup" placeholder="Confirm Password">
      <button type="submit">Signup</button>
    </form>
  </div>

  <script src="/js/login.js"></script>