<!DOCTYPE html>
<html>

<head>
  <title>Cinema Sounds</title>
  <link rel="stylesheet" type="text/css" href="public\css\style.css">
</head>

<body>
  <div class="header">
    <div class="logo">
      <a href="/">Home</a>
    </div>
    <div class="title">
      <h1>Cinema Sounds</h1>
    </div>
    <div class="user-actions">
      <a href="/login/signup">Login/Signup</a>
    </div>
  </div>


  <div class="login-form">
    <h2>Login</h2>
    <form action="/login" method="POST">
      <input type="text" name="username" placeholder="Username">
      <input type="password" name="password" placeholder="Password">
      <button type="submit">Login</button>
    </form>
  </div>



  <div class="signup-form">
    <h2>Signup</h2>
    <form action="/signup" method="POST">
      <input type="text" name="username" placeholder="Username">
      <input type="password" name="password" placeholder="Password">
      <input type="password" name="confirmPassword" placeholder="Confirm Password">
      <button type="submit">Signup</button>
    </form>
  </div>



</body>

</html>