<div class="reviews2">
    <h1>Reviews:</h1>
    {{#each reviews}}
        <li>
            <p>Movie Title: {{movie.Title}}</p>
            <p>User's name: {{user.username}}</p>
            <p>Content: {{content}}</p>
            <p>Rating: {{rating}}</p>
        </li>
    {{/each}}
</div>



