<div class="reviews">
    <h1>Reviews:</h1>
    {{#each reviews}}
        <li>
            <p>Content: {{content}}</p>
            <p>Rating: {{rating}}</p>
            <p>Movie: {{Movie.Title}}</p>
            <p>User ID: {{User.id}}</p>
        </li>
    {{/each}}
</div>



