
body, h1, h2, ul, p {
    margin: 0;
    padding: 0;
    color: rgba(26, 34, 53, 0.726);
}


body {
    font-family: Arial, sans-serif;
    color: black;
    background: linear-gradient(to bottom, #575757, #b3b3b3);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 20px;
   
}

.logo {
    display: flex;
    align-items: center;
}


.logo a {
    font-size: 24px;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, color 0.3s;
}

.logo a:hover {
    background-color: black;
    color: white;
}

.user-actions {
    display: flex;
    align-items: center;
}


.profile-name {
    color: white;
    margin-right: 10px;
}


.user-actions a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s, color 0.3s;
}

.user-actions a:hover {
    background-color: black;
    color: white;
}


.title {
    text-align: center;
    padding: 20px 0;
    border: 2px solid black;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    width: 40%;
    margin: 0 auto;

}

.movie-details {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 30px;
}


.movie-poster {
    flex-basis: 33%;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-right: 20px;

}


.movie-info {
    flex-grow: 1;
    text-align: center;
}

.movie-title {
    font-size: 28px;
    margin-bottom: 10px;
    color:  #0000008f;
}

.movie-data {
    font-size: 18px;
    color: white;
}


.stored {
    flex-basis: 30%;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 80vh; 
}


.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding-right: 50px;
}

.search-bar input {
    padding: 10px;
    border-radius: 20px 0 0 20px;
    border: none;
    outline: none;
    justify-content: center;
    width: 400px;
    
}

.search-bar button {
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 0 20px 20px 0;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-bar button:hover {
    background-color: black;
}
.spotify-link {
    text-align: center;
    margin-top: auto;
    padding: 20px;
}
.spotify-link a {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(9, 196, 2);
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 20px;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.664)
}
.spotify-link a:hover {
    background-color: rgb(15, 99, 3);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.664)
}
.review-form {
 
    width: 700px; 
  }
  
  .reviews {
   
    max-height: 300px; 
    overflow-y: auto; 
  }
 #rating{
    width: 95px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.555);
    border-radius: 20px;
 }
 #name{
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.664) 
 }
 #review{
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.664);
 }