
body, h1, h2, ul, p {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    color: black;
    background: linear-gradient(to bottom, #575757, #b3b3b3);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  /* Header */
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #303030;
    color: white;
    padding: 10px 20px;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  /* Home Button */
  .logo a {
    font-size: 24px;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.2); 
    transition: background-color 0.3s, color 0.3s; /* transition effect */
  }
  
  .logo a:hover {
    background-color: black;
  }
  
  .user-actions a {
    color: white;
    text-decoration: none;/*this removes underline*/
    margin-left: 10px;
    padding: 5px 10px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.3);

  }
  
  .user-actions a:hover {
    background-color: black;
  }
  
  /* Title */
  .title {
    text-align: center;
    padding: 20px 0;
    border: 2px solid black;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    width: 40%;
    margin: 0 auto;

}
  

  
  /* Search Bar */
  .search-bar {
    text-align: center;
    margin-top: 50px;
  }
  
  .search-bar input[type="text"] {
    padding: 10px;
    width: 60%;
    border: none;
    border-radius: 20px;
    box-shadow: 0 6px 4px rgb(53, 53, 53);
    font-weight: bold;
    
  }
  
  /* Search Button */
  .search-bar button {
    padding: 10px 20px;
    background-color: rgb(73, 73, 73); /* black background */
    color: white;
    border: none;
    border-radius: 20px;
    box-shadow: 0 6px 4px rgb(53, 53, 53);
    transition: background-color 0.3s, color 0.3s; /* transition effect */
  }
  
  .search-bar button:hover {
    background-color: #000000;
  }
  
  /* Recent Searches */
  .recent-searches {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 20px;

  }
  
  .recent-searches h2 {
    font-size: 35px;
    margin-bottom: 10px;
    font-weight: bolder;
  }
  
  .recent-searches ul {
    list-style: none;/*this removes bullet points*/
    text-align: center;
  }
  
  .recent-searches li {
    padding: 5px 0;
 
    font-size: 20px;
    font-weight: bold;
  }


  .signup-form input[type="text"] {
    padding: 10px;
    width: 10%;
    border: none;
    border-radius: 20px;
    box-shadow: 0 6px 4px rgb(53, 53, 53);
    font-weight: bold;
    
  }

  .signup-form {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 6px 4px rgba(53, 53, 53, 0.3);
    margin-top: 20px;
  }
  
  .signup-form h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .signup-form input[type="text"],
  .signup-form input[type="email"] {
    padding: 10px;
    width: 10%;
    border: none;
    border-radius: 20px;
    box-shadow: 0 6px 4px rgb(53, 53, 53);
    font-weight: bold;
    margin-bottom: 10px;
  }

  .signup-form input[type="text"],
  .signup-form input[type="password"] {
    padding: 10px;
    width: 10%;
    border: none;
    border-radius: 20px;
    box-shadow: 0 6px 4px rgb(53, 53, 53);
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .signup-form button[type="submit"] {
    padding: 10px 20px;
    background-color: #000000;
    border: none;
    border-radius: 20px;
    color: #fffcfc;
    font-weight: bold;
    cursor: pointer;
  }
  
  .signup-form button[type="submit"]:hover {
    background-color: #0e0e0e;
  }
  
  .login-form input[type="text"] {
    padding: 10px;
    width: 10%;
    border: none;
    border-radius: 20px;
    box-shadow: 0 6px 4px rgb(53, 53, 53);
    font-weight: bold;
    
  }

  .login-form {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 6px 4px rgba(53, 53, 53, 0.3);
    margin-top: 20px;
  }
  
  .login-form h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .login-form input[type="text"],
  .login-form input[type="password"] {
    padding: 10px;
    width: 10%;
    border: none;
    border-radius: 20px;
    box-shadow: 0 6px 4px rgb(53, 53, 53);
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .login-form button[type="submit"] {
    padding: 10px 20px;
    background-color: #000000;
    border: none;
    border-radius: 20px;
    color: #fffcfc;
    font-weight: bold;
    cursor: pointer;
  }
  
  .login-form button[type="submit"]:hover {
    background-color: #0e0e0e;
  }
  


  .review-form input[type="text"] {
    padding: 10px;
    width: 10%;
    border: none;
    border-radius: 20px;
    box-shadow: 0 6px 4px rgb(53, 53, 53);
    font-weight: bold;
    
  }

  .review-form {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 6px 4px rgba(53, 53, 53, 0.3);
    margin-top: 20px;
  }
  
  .review-form h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .review-form input[type="text"],
  .review-form input[type="password"] {
    padding: 10px;
    width: 10%;
    border: none;
    border-radius: 20px;
    box-shadow: 0 6px 4px rgb(53, 53, 53);
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .review-form button[type="submit"] {
    padding: 10px 20px;
    background-color: #000000;
    border: none;
    border-radius: 20px;
    color: #fffcfc;
    font-weight: bold;
    cursor: pointer;
  }
  
  .review-form button[type="submit"]:hover {
    background-color: #0e0e0e;
  }

.review-form select[name="rating"] {
  padding: 10px;
  width: 6%;
  border: none;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(53, 53, 53, 0.2);
  margin-bottom: 10px;
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 2px 4px rgba(53, 53, 53, 0.2);
  margin-bottom: 10px;
  background-color: #ffffff; /
}

.review-form textarea[name="review"] {
  width: 99%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(53, 53, 53, 0.2);
  margin-bottom: 10px;
  resize: vertical; 
  height: 150px;
}
.home-button1 {
  text-align: center;
  margin-top: 20px;
}

.home-button1 a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #3d3d3d;
  border-radius: 20px;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  width: 8%;
}

.home-button1 a:hover {
  background-color: #000000;
}
.movie-placeholder {
height: 40vh;
width: 50%;;
justify-content: center;
align-items: center;
margin-left: 470px;
display: flex;
}
.box {

  width: 600px;
  height: 100px;
  background-color: #8a8a8a;
  border: 1px solid #999;
  padding: 10px;
  box-sizing: border-box;
  height: 35vh;
  justify-content: center;
  align-items: center;
  display: flex;
}
.movie-title{
  font-size: 36px;
  align-items: center;
  display: flex;
  justify-content: center;
}